.header{
    
    
    font-weight: 500;
    font-family: Roboto, Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 14px;
}
.nav{
  
    display: flex;
    flex-direction: column;
    gap: 30px;
    
}
.info-links ul {
    display: flex;
    gap: 20px;
    align-items: center;
}
.nav > ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}
.info-links a{
    color:  #6f7c89;
}
.search-links a, .helper-links a{
    color: black;
}
a:hover{
    color: rgb(145, 158, 206);   
}

.btn-seller, .currency{
    background-color: #e5efff;
    padding: 5px;
    border-radius: 5px;
    transition: all .3s;
    cursor: pointer;
}

.btn-seller:hover, .currency:hover{
    background-color: #778aa8;
    color: white;
}

.location:hover{
    color: rgb(145, 158, 206);
    cursor: pointer;
}
.search-links a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.search-links{
   
}

.search-links ul{
    display: flex;
    gap: 30px;
}

.search{
    display: flex;
    
    padding-top: 5px;
}